.page {
  font-family: 'Jost', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.main {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgb(224, 224, 224);
  padding: 20px 40px 20px 40px;
  margin: 70px 0 0 0;
}

.main__title {
  color: rgb(49, 49, 49);
  margin: 0 0 50px;
  font-weight: 500;
}

.main__button {
  padding: 10px 10px;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  width: 300px;
  margin: 0 0 20px 0;
  background-color: rgba(255, 21, 21, 0.822);
  border-style: none;
  border-radius: 5px;
  outline: none;

}

.main__button:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.main__button:active {
  background-color:rgba(230, 0, 0, 0.9);;
}

.main__link {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .page {
    padding: 0 10px;
  }

  .main__button {
    width: 250px;
  }

  .main {
    padding: 10px;
  }
}